<!-- app/views/recipes/search.html.erb -->
<h1>Buscar recetas por ingredientes</h1>

<%= form_tag(recipes_search_path, method: :get, class: "form-inline") do %>
  <div class="form-group">
    <label for="ingredient_name">Ingrese un ingrediente:</label>
    <input type="text" class="form-control" id="ingredient_name" name="ingredient_name">
    <button type="button" id="add_ingredient" class="btn btn-primary">Agregar</button>
  </div>

  <div class="form-group">
    <h3>Lista de ingredientes:</h3>
    <ul id="ingredient_list"></ul>
    <%= hidden_field_tag 'ingredients[]', nil, id: 'ingredient_list_input' %>
  </div>

  <button type="submit" class="btn btn-primary">Buscar Recetas</button>
<% end %>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ingredientNameInput = document.getElementById('ingredient_name');
        const ingredientList = document.getElementById('ingredient_list');
        const ingredientListInput = document.getElementById('ingredient_list_input');

        document.getElementById('add_ingredient').addEventListener('click', function() {
            const ingredientName = ingredientNameInput.value.trim();
            if (ingredientName) {
                const listItem = document.createElement('li');
                listItem.textContent = ingredientName;
                ingredientList.appendChild(listItem);
                ingredientNameInput.value = '';
                updateHiddenInput();
            }
        });

        function updateHiddenInput() {
            const ingredients = Array.from(ingredientList.children).map(li => li.textContent);
            ingredientListInput.value = JSON.stringify(ingredients);
        }
    });

</script>
