<h1>Ingredients selector</h1>
<%= form_tag(recipes_search_path, method: :get, class: "form-inline") do %>
  <div class="form-group">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <label for="ingredient_ids">Select ingredients (maximum 10):</label>
    <select multiple class="form-control" id="ingredient_ids" name="ingredients[]" style="height: 210px; display: none;">
      <% @ingredients.each do |ingredient| %>
        <option value="<%= ingredient.exact_name %>"><%= ingredient.exact_name.capitalize %></option>
        # Here I would like to use .gsub(/\d+/, '') to hide numbers or to hide other values but it's necessary unless
        I improve the values of the database
      <% end %>
    </select>
    <h5>Selected ingredients</h5>
    <ul class="list-group" style="list-style: none">
      <li class="list-group-item" style=" background-color: #c5e1f9; color:green" id="selectedIngredientsList"></li>
    </ul>
    <ul style="list-style: none"></ul>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
<% end %>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var select = document.getElementById('ingredient_ids');
        var maxSelections = 10;
        var myInput = document.getElementById('myInput');

        myInput.addEventListener('input', function () {
            if (myInput.value.trim() !== '') {
                select.style.display = "block";
            } else {
                select.style.display = "none";
            }
        });

        $('#ingredient_ids option').mousedown(function (e) {
            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));

            var selectedOptions = $('#ingredient_ids option:selected');
            if (selectedOptions.length > maxSelections) {
                alert('You can select maximum ' + maxSelections + ' ingredients.');
                $(this).prop('selected', false);
            }

            updateSelectedIngredientsList();
            myInput.value = '';

            return false;
        });

        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ingredient_ids option").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });

            updateSelectedIngredientsList();
        });

        function updateSelectedIngredientsList() {
            var selectedOptions = $('#ingredient_ids option:selected');
            var selectedIngredientsList = $('#selectedIngredientsList');
            selectedIngredientsList.empty();

            selectedOptions.each(function () {
                var ingredientName = $(this).text();
                selectedIngredientsList.append('<li>' + ingredientName + '</li>');
            });
        }
    });
</script>

